        h3{
            background-color: aqua;
        }
        div{
            background-color: yellow;
        }
        #titulo{
            text-align: center;
            color: crimson;
        }

        .comun{
            background-color: brown;
        }
